.YouTubeList {
    padding: 10px;
}
.YouTube__item {
    display: flex;
    margin: 30px 0;
    width: 100%;
    max-width: 650px;
}
.YouTube__video {
    overflow: hidden;
    width: 300px;
    min-width: 300px;
}
.YouTube__content {
    padding-left: 10px;
}
.YouTube__title,
.YouTube__chanel {
    color: #08c;
    font-size: 16px;
    line-height: 18px;
}
.YouTube__chanel {
    padding: 15px 0;
    font-size: 12px;
    color: #37474f;
}
