.Header {
    display: flex;
    position: fixed;
    background: white;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    padding: 0 10px;
}
.HeaderLogo {
    display: flex;
    align-items: center;
    width: 200px;
    color: #08c;
    span {
        padding-left: 10px;
    }
}
.HeaderSearch {
    flex: 1;
}
